### GRADLE ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin
build
target
out

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.sw?
.#*
*#
*~
